PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://prateekapphivey_db_user:dpr1RpOGDdIfOLCO@bm2k.be9ru7g.mongodb.net/?appName=bm2k
CLIENT_URL=http://localhost:5173

# prateekapphivey_db_user
# dpr1RpOGDdIfOLCO
